<!-- templates/bookings.html -->
{% extends "base.html" %}
{% block content %}
<h1>Your Bookings</h1>
{% if bookings %}
    <ul>
        {% for booking in bookings %}
            <li>
                <h2>{{ booking.parking_spot_name }}</h2>
                <p>Start: {{ booking.start_datetime.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>End: {{ booking.end_datetime.strftime('%Y-%m-%d %H:%M') }}</p>
                <p>Total Price: ${{ booking.total_price | round(2) }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no bookings.</p>
{% endif %}
{% endblock %}
