<!-- templates/favorites.html -->
{% extends "base.html" %}
{% block content %}
<h1>Your Favorite Parkings</h1>
{% if favorites %}
    <ul>
        {% for spot in favorites %}
            <li>
                <h2>{{ spot.name }}</h2>
                <p>{{ spot.address }}</p>
                <p>Price per hour: ${{ spot.pricePerHour }}</p>
                <a href="{{ url_for('remove_favorite', spot_id=spot.id) }}">Remove from Favorites</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no favorite parking spots.</p>
{% endif %}
{% endblock %}
